
#wrap{
  width: 100%;
}

.header{
  /*vw는 패딩이랑 모더 값이 포함 안 됨*/
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.562);
}
.header .inner-header{
  /* display: flex;
  justify-content: center;
  flex: 1; */
  padding: 10px;
  box-sizing: border-box;
}
.header .inner-header .nav{
}


.header .inner-header .nav .right-menu{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header .inner-header .nav .right-menu span.menu{
  display: none;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 217, 255);
}
.header .inner-header .nav .right-menu .gnb{
  /* width: 100%; */
  flex: 1;
  /* padding: 20px;
  box-sizing: border-box; */
}
.header .inner-header .nav .right-menu .gnb>ul{
  display: flex;
  justify-content: space-between;
}
.header .inner-header .nav .right-menu .gnb>ul>li{
  line-height: 20px;
  flex: 1;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}
.header .inner-header .nav .right-menu .gnb>ul>li:hover{
  background-color: #000;
  color: #fff;
}
.header .inner-header .nav .right-menu .gnb>ul>li a{
  color: inherit;
  /* background-color: inherit; */

}