.container{
  
}
.container .inner-container{

}
.container .inner-container .index{
  width: 100%;
  height: auto;
  border: 1px solid;
}
.container .inner-container .index .sections{
  
}
.container .inner-container .index .sections .section.sec1{
  /* width: 100%;
  height: 100vh; */
  
}
.container .inner-container .index .sections .section.sec1 .sec-con{
  width: 100%;
  height: auto;
  position: relative;

  display: flex;
}
.container .inner-container .index .sections .section.sec1 .sec-con video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;

}
.container .inner-container .index .sections .section.sec1 .sec-con .sec1-txt{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  padding: 20px;
  letter-spacing: 3px;
  color: #fff;
}
.container .inner-container .index .sections .section.sec1 .sec-con .sec1-txt h1.title{
  line-height: 50px;
  padding: 10px 0;
  font-size: 40px;
}
.container .inner-container .index .sections .section.sec1 .sec-con .sec1-txt p{
  line-height: 20px;
}
.container .inner-container .index .sections .section.sec1 .sec-con .sec1-txt span.date{
  line-height: 30px;
  
}


/* section2 */
.container .inner-container .index .sections .section.sec2{
  display: flex;
  justify-content: center;
  padding: 36px;
  box-sizing: border-box;
}
.container .inner-container .index .sections .section.sec2 .sec-con{
  flex: 0 1 980px;
  
}
.container .inner-container .index .sections .section.sec2 .sec-con h1.title{
  line-height: 50px;
  padding: 40px 0;

  font-size: 40px;
  
  text-align: center;
}
.container .inner-container .index .sections .section.sec2 .sec-con .img-con{
  width: 100%;
  height: calc(55000vw / 1920);
  /* max-height: 550px; */
  position: relative;
  transition: all 0.5s;
}
.container .inner-container .index .sections .section.sec2 .sec-con .img-con>ul{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: inherit;
}
.container .inner-container .index .sections .section.sec2 .sec-con .img-con>ul>li{
  position: absolute;
  left: 0;
  top: 0;
  height: inherit;
  width: 100%;
}
.container .inner-container .index .sections .section.sec2 .sec-con .img-con ul>li img{
  width: 100%;
  height: inherit;
  display: block;
  object-fit: cover;
}
.container .inner-container .index .sections .section.sec2 .sec-con .img-con .bcon{
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  /* border: 1px solid; */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.container .inner-container .index .sections .section.sec2 .sec-con .img-con .bcon .items{
  width: auto;
  height: auto;
}

.container .inner-container .index .sections .section.sec2 .sec-con .img-con .bcon .items ul{
  display: flex;
  justify-content: space-between;
}
.container .inner-container .index .sections .section.sec2 .sec-con .img-con .bcon .items ul>li{
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
}
.on{
  background-color: #fff;
}
.container .inner-container .index .sections .section.sec2 .sec-con p.p-con{
  padding: 30px 0;
  line-height: 20px;
 
}
.container .inner-container .index .sections .section.sec2 .sec-con .btn-con {
  display: flex;
  justify-content: center;
 

}
.container .inner-container .index .sections .section.sec2 .sec-con .btn-con span.detail{
  display: block;
  padding: 10px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-weight: lighter;
  font-size: 14px;

}
.container .inner-container .index .sections .section.sec2 .sec-con .btn-con span.detail:hover{
  background-color: rgb(206, 206, 206);
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
}

/* section3 */
.container .inner-container .index .sections .section.sec3 .sec-con{
  width: 100%;
  height: auto;
  position: relative;

  display: flex;
}
.container .inner-container .index .sections .section.sec3 .sec-con video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;

}
.container .inner-container .index .sections .section.sec3 .sec-con .sec3-txt{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  padding: 20px;
  letter-spacing: 3px;
  color: #fff
}
.container .inner-container .index .sections .section.sec3 .sec-con .sec3-txt h1.title{
  line-height: 50px;
  padding: 10px 0;
  font-size: 40px;
}
.container .inner-container .index .sections .section.sec3 .sec-con .sec3-txt p{
  line-height: 20px;
}

/* section4 */
.container .inner-container .index .sections .section.sec4{
  display: flex;
  justify-content: center;
  padding: 36px;
  box-sizing: border-box;
}
.container .inner-container .index .sections .section.sec4 .sec-con{
  flex: 0 1 980px;
  
}
.container .inner-container .index .sections .section.sec4 .sec-con h1.title{
  line-height: 50px;
  padding: 40px 0;

  font-size: 40px;
  
  text-align: center;
}
.container .inner-container .index .sections .section.sec4 .sec-con .img-con{
  width: 100%;
  height: calc(55000vw / 1920);
  position: relative;
  transition: all 0.5s;
}
.container .inner-container .index .sections .section.sec4 .sec-con .img-con ul{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: inherit;
  width: 100%;
}
.container .inner-container .index .sections .section.sec4 .sec-con .img-con ul>li{
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: inherit;
}
.container .inner-container .index .sections .section.sec4 .sec-con .img-con ul>li img{
  width: 100%;
  height: inherit;
  display: block;
  object-fit: cover;
}
.container .inner-container .index .sections .section.sec4 .sec-con .img-con .center-btn{
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}
.container .inner-container .index .sections .section.sec4 .sec-con .img-con .center-btn span.arrow{
  display: block;
  width: 30px;
  height: 30px;
  background-color: #fff;
}
.container .inner-container .index .sections .section.sec4 .sec-con .img-con .center-btn span.arrow:hover{
  background-color: #000;
}
.container .inner-container .index .sections .section.sec4 .sec-con .bottom-con{
  padding: 20px 0;
  box-sizing: border-box;
  text-align: center;
}
.container .inner-container .index .sections .section.sec4 .sec-con .bottom-con ul{
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.container .inner-container .index .sections .section.sec4 .sec-con .bottom-con ul>li{
  padding: 10px 20px 30px;
  box-sizing: border-box;
  
}
.container .inner-container .index .sections .section.sec4 .sec-con .bottom-con ul>li:hover{
  background-color: rgb(184, 184, 184);
  cursor: pointer;

}
.container .inner-container .index .sections .section.sec4 .sec-con .bottom-con ul>li h1.b-title{
  padding: 20px;
  box-sizing: border-box;
  line-height: 30px;
}
.container .inner-container .index .sections .section.sec4 .sec-con .bottom-con ul>li p{
  line-height: 20px;
  font-size: 14px;
}

/* section5 */
.container .inner-container .index .sections .section.sec5{
  width: 100%;
  height: auto;
  background-color: rgb(189, 189, 189);
}
.container .inner-container .index .sections .section.sec5 .sec-con{
  display: flex;
  justify-content: center;
  padding: 50px 0;
  box-sizing: border-box;
}
.container .inner-container .index .sections .section.sec5 .sec-con .sec5-con{
  flex: 0 1 520px;
  text-align: center;
  
}
.container .inner-container .index .sections .section.sec5 .sec-con .sec5-con h1.title{
  line-height: 20px;
  text-align: center;
  padding: 15px 0;
  
}
.container .inner-container .index .sections .section.sec5 .sec-con .sec5-con p{
  text-align: center;
  font-size: 12px;
  padding: 10px 0 25px;
  line-height: 20px;
}
.container .inner-container .index .sections .section.sec5 .sec-con .sec5-con span.pouBtn{
  width: 100px;
  display: block;
  padding: 10px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-weight: lighter;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
}
.container .inner-container .index .sections .section.sec5 .sec-con .sec5-con span.pouBtn:hover{
  letter-spacing: 3px;
  background-color: rgb(136, 136, 136);
}


@media only screen and (max-width:640px){
  .container .inner-container .index .sections .section.sec4 .sec-con .bottom-con ul{
    flex-wrap: wrap;
  }
  .container .inner-container .index .sections .section.sec2 .sec-con .img-con{
    height: calc(100vw - 72px);
    
  }
  .container .inner-container .index .sections .section.sec4 .sec-con .img-con{
    height: calc(100vw - 72px);
    
  }
} 
